{% extends 'base.html' %}
{% block title %} Library Branch List {% endblock %}
{% block content %}

<div class="container">
    <h3 class="text-center">Library Branch List</h3>
    <div class="row">
        {% for library in branches %}
            <div class="col-md-3">
                <div class="card shadow mb-4 border-danger" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">name- {{library.name}}</h5>
                    <p class="card-title">city- {{library.city.city_name}}</p>
                    <p class="card-title">phone- {{library.phone}}</p>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}