{% extends 'base.html' %}
{% block title %} Issued Book List {% endblock %}
{% block content %}

<div class="container">
    <h3 class="text-center">Issued Book List</h3>
    <div class="row">
        {% for issuedbook in issuedbooks %}
            <div class="col-md-3">
                <div class="card shadow mb-4 border-danger" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">member- {{issuedbook.member.user.username}}</h5>
                    <p class="card-title">issue_date- {{issuedbook.issue_date}}</p>
                    <p class="card-title">due_date- {{issuedbook.due_date}}</p>
                    <p class="card-title">return_date- {{issuedbook.return_date}}</p>
                    <p class="card-title">title- {{issuedbook.book.title}}</p>

                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}