{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Book List {% endblock %}
{% block content %}

<div class="container">
    <h3 class="text-center">Book List</h3>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add new Book
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add new Book </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form  method="post" action="">
                {% csrf_token %}
                {{form | crispy }}
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </form>
        </div>


        </div>
    </div>
    </div>
    
    <div class="row">
        {% for book in books %}
            <div class="col-md-3">
                <div class="card shadow mb-4 border-primary" style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">title- {{book.title}}</h5>
                        <p class="card-text">publisher- {{book.publisher.name}}</p>
                        <p class="card-text">branch- {{book.library_branch.city.city_name}}</p>
                        {% for author in book.author.all %}
                            {% if forloop.first %} 
                                <p class="card-text">author_name- {{author.name}}</p>
                            {% endif %}
                        {% endfor %}

                        <div class="d-flex gap-2">
                            <a href="{% url 'book_detail' book.pk %}" type="button" class="btn btn-primary">View details</a>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}