{% extends 'base.html' %}
{% block title %} Book List {% endblock %}
{% block content %}

<div class="container">
        <h3 class="text-center">Book List</h3>
    <div class="row">
        {% for book in books %}
            <div class="col-md-3">
                <div class="card shadow mb-4 border-primary" style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">title- {{book.title}}</h5>
                        <p class="card-text">publisher- {{book.publisher.name}}</p>
                        <p class="card-text">branch- {{book.library_branch.city.city_name}}</p>
                        {% for author in book.author.all %}
                            {% if forloop.first %} 
                                <p class="card-text">author_name- {{author.name}}</p>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}